@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background: var(--color-background);
}

button,
input,
textarea,
select {
  font-family: inherit;
}

:root {
  --font-family: 'Playfair Display', serif;
  --color-background: #FCFFFC;
  --color-primary: #3DA35D;
  --color-secondary: #00ABE7;
  --color-tertiary: #FF8600;
  --color-text: #050609;
}